body {
    margin: 0;
    font-family: Arial;
    background: black;
    color: #00ffcc;
    text-align: center;
}

#intro {
    margin-top: 100px;
}

h1 {
    text-shadow: 0 0 10px #00ffcc;
}

.barra {
    width: 60%;
    height: 20px;
    background: #222;
    margin: auto;
    border-radius: 10px;
}

#equilibrio {
    height: 100%;
    width: 50%;
    background: linear-gradient(90deg, #00ffcc, #00ff00);
    transition: 0.5s;
}

button {
    margin: 5px;
    padding: 10px;
    background: #00ffcc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
}

canvas {
    margin-top: 15px;
    background: #111;
}